article {
  position: relative;
  z-index: 100;
  padding: 0 20px;
  section {
    width: 100%;
  }
  .entry-header,
  .section-header {
    width: 100%;
    padding-bottom: 40px;
  }
  .entry-content,
  .category-content,
  .page-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    section {
      padding-bottom: 120px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  h1,
  h2,
  h3,
  h4 {
    color: $gold;
    font: {
      weight: 700;
    }
    line-height: 1.75em;
  }
  h1 {
    padding-bottom: 40px;
    font: {
      size: 2em;
    }
  }
  h2 {
    padding-bottom: 30px;
    font: {
      size: 1.5em;
    }
    line-height: 1.5em;
  }
  h3 {
    padding-bottom: 20px;
    font: {
      size: 1.25em;
    }
  }
  p {
    padding-bottom: 30px;
    color: $white;
    &:last-child {
      padding-bottom: 0;
    }
    text: {
      align: justify;
    }
    &.has-text-align-right {
      text: {
        align: right;
      }
    }
    font: {
      size: 1em;
      weight: 400;
    }
    line-height: 1.66em;
    a {
      color: $link;
    }
  }
  ul {
    width: 100%;
    border: 10px solid $gold;
    padding: 30px 20px 40px 20px;
    margin-bottom: 30px;
    &.index li i {
      color: $gold;
    }
    li {
      &.title {
        color: $gold;
        font: {
          size: 1.25em;
          weight: bold;
        }
      }
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
      i {
        margin-right: 0.75em;
        color: $gold;
      }
      a {
        display: inline-block;
        color: $link;
        font: {
          weight: bold;
        }
      }
    }
  }
  dl {
    padding: 20px;
    background: rgba($dark, 0.5);
    dt {
      color: $white;
      font: {
        size: 0.95em;
        weight: 700;
      }
    }
    dd {
      color: $white;
      padding: 5px 0 20px 20px;
      font: {
        size: 0.85em;
      }
      a {
        color: $gold;
        text-decoration: underline;
      }
    }
  }
}
